<a href="https://colab.research.google.com/github/danio2010/ON2022/blob/main/Pandas2_live.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

dane=pd.read_csv('https://analityk.edu.pl/wp-content/uploads/2020/12/worldcities.csv')

### Maski logiczne

Zamiast and używamy &

zamiast or używamy |


### Zadanie
* Znajdź wszystkie miasta w Polsce, które mają liczbę ludności mniejszą niż 10 tyś.

* Tym, które nie mają danych w kolumnie capital wpisz 'brak'.

* Dodaj do całego zbioru danych nową kolumnę 'małe miasto', które zawiera True dla miast poniżej 10 tyś mieszkańców  i False w pozostałych przypadkach.

* Posortuj dane alfabetycznie po nazwie kraju (na stałe, a nie tylko jako widok)

## Apply, groupby, agg

## Analiza zbioru danych

https://raw.githubusercontent.com/dshahid380/Data-analysis-with-pandas/master/datasets/weather.csv

Zadania:

* określ ile jest rekordów (wierszy) w DataFrame
* znajdź brakujące wartości; uzupełnij je
* usuń kolumny: temperatura odczuwalna, kierunek wiatru i dzienne podsumowanie

* określ średnie dzienne statystyki i zapisz je do pliku .xlsx
* narysuj na jednym wykresie maksymalne i minimalne temperatury dzienne w maju 2010
* narysuj wykres słupkowy liczby dni ze średnią wilgotnością poniżej 60% w poszczególnych latach

Uwaga: stwórz dodatkowe robocze kolumny w czasie pracy

### Zadanie
Wytnij pierwsze 10 wierszy z dancyh ze skrótami krajów. Następnie przygotuj DataFrame z **wszystkimi** miastami i kodami z tych pierwszych 10 wierszy (pozostałe NaN). Następnie przygoruj DF, gdzie będą tylko kraje wymienione w tych 10 wierszach.

### Zadanie
* Połącz trzy zbiory danych z plików [tutaj](https://github.com/jakevdp/data-USstates/)
* zbadaj o brakujące dane
* zaprezentuj na wykresie ludność w poszczególnych stanach w roku 2010 w podziale na kategorie wiekowe
* zaprezentuj na wykresie gęstości zaludnienia w poszczególnych stanach w kolejności malejącej